@import '../../variables.scss';
@import '../../mixin.scss';
.AllCategories {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  
    &__header-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
  
      h2 {
        @include adaptiv-font(64, 40);
        font-weight: 700;
      }
    }
  
    &__wrapper {
      display: grid;
      gap: 20px;
  
      @media (min-width: 1440px) {
        grid-template-columns: repeat(5, 1fr);
      }
  
      @media (min-width: 1000px) and (max-width: 1439px) {
        grid-template-columns: repeat(3, 1fr);
      }
  
      @media (min-width: 769px) and (max-width: 999px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @media (min-width: 481px) and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
      }
  
      @media (max-width: 360px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  
  .item__link {
    display: block;
    text-decoration: none;
    color: inherit;
  }