@import '../../variables.scss';
@import '../../mixin.scss';

.filter-wrapper{
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 50px;
    &__item{
        display: flex;
        align-items: center;
        gap: 10px;
        p{
            font-weight: bold;
        }
        input, select {
            max-width: 112px;
            padding: 8px 16px; 
            border-radius: $radius-small;
            color: $text-grey; 
            border: 1px solid $border-grey;
        }
        select{
            max-width: none;
        }
    }
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-auto-rows: auto; 
    gap: 20px;
}
