@import '../../variables.scss';
@import '../../mixin.scss';

.categories__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    img{
        min-height: 350px;
        border-radius: $radius-big;
        width: 100%;
        object-fit: cover;
    }
    span{
        margin-top: 16px;
        text-align: center;
        font-weight: 500px;
        // font-size: 20px;
        @include adaptiv-font(20, 18);
    }
}

.categories__item:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(53, 53, 53, 0.5);
}


@media screen and (min-width: 769px) and (max-width: 1000px) {
    .categories__item {
        img {
            min-height: 250px;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .categories__item {
        img{
            min-height: 250px;
        }
    }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
    .categories__item {
        img{
            min-height: 254px;
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 360px) {
    .categories__item {
        img{
            min-height: 220px;
        }
    }
}

