@import '../../variables.scss';

.categories{

    &__header-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        h2{
            font-size: 64px;
            font-weight: 700;
        }

        .categories__line{
            height: 1px;
            width: 100%;
            margin-left: 32px;
            align-items: center;
            background: #8b8b8b85;
            // display: block;
            display: none;
        }

        .categories__link {
            // text-decoration: none;
            font-size: 16px;
            color: #8B8B8B;
            align-content: center;
            border-radius: 5px;
            padding: 8px 16px;
            border: 1px solid #8b8b8b85;
            display: inline-block;
            // height: 36px;
        }
    }

    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        grid-auto-rows: auto; 
        gap: 20px;
        
        .categories__item {
            display: flex;
            flex-direction: column;
            width: 100%;

            img{
                max-height: 350px;
                border-radius: 5px;
                width: 100%;
                object-fit: cover;
            }
            span{
                margin-top: 16px;
                text-align: center;
                font-weight: 500px;
                font-size: 20px;
            }
        }

        .categories__item:hover {
            transform: scale(1.1);
            box-shadow: 5px 5px 5px rgba(53, 53, 53, 0.5);
        }
    }

    .loader {
        margin: 0 auto;
        width: 120px;
        height: 20px;
        border-radius: 20px;
        background:
            linear-gradient(orange 0 0) 0/0% no-repeat lightblue;
        animation: l2 2s infinite steps(10);
    }
    @keyframes l2 {
        100% {
            background-size: 110%
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .categories__wrapper {
        gap: 10px;

        .categories__item {
            img {
                min-height: 250px;
            }
        }
    }
}

@media screen and (min-width: 621px) and (max-width: 768px) {
    .categories__wrapper {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        }
     
    .categories__item {
        img{
            max-height: 250px;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 620px) {
    .categories__header-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        gap: 12px;
    }
  
   .categories__wrapper {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
    .categories__header-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        gap: 12px;
    }

    .categories__header-wrapper {
        h2 {
            font-size: 42px;
        }

        .categories__link {
            font-size: 12px;
        }
    }

    .categories__wrapper {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 5px;
    }
}

@media screen and (min-width: 200px) and (max-width: 360px) {
    .categories__header-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        gap: 12px;

        h2 {
            font-size: 36px;
        }

        .categories__link {
            font-size: 12px;
        }
    }

    .categories__wrapper {
        grid-template-columns: 1fr;
        gap: 10px;

        .categories__item {
            min-height: 220px;
        }
    }
}