.discount__container{
    max-width: 1360px;
    margin: 0 auto;
    background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);
    border-radius: 12px;
    padding: 32px 32px 0 32px;
}

.discount__title{
    font-size: 64px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
}

.form__container{
    display: flex;
    justify-content: space-between;
    gap: 32px;

}

.form { 
    

    &__item {
        display: flex;
        flex-direction: column;
        gap: 16px;

        input, select {
            padding: 16px 32px;
            border: 1px solid #fffff1;
            border-radius: 6px;
            font-size: 20px;
            color: #ffffff;
            background: transparent;
            
        }
        input::placeholder {
            color: #fffff1;
            
          }
    }
}

.discount__btn {
    width: 516px;
    padding: 16px 32px;
    border: 1px solid #fffff1;
    background-color: #fffff1;
    border-radius: 6px;
    color:  #424436;
    font-weight: 600;
    font-size: 20px;
    margin: 32px 0;
}