@import '../../variables.scss';
@import '../../mixin.scss';

.discount__container{
    background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);
    border-radius: $radius-big;
    // padding: 32px 32px 0 32px;
    color: $primary-white;
}

.discount__title{
    @include adaptiv-font(64, 40);
    text-align: center;
    font-weight: 700;
    color: $primary-white;
    margin-top: 32px;
}

.form__container{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    
    img{
       object-position: right;
       object-fit: cover;
       width: 50%;
    }
}

.form { 
    margin-right: 32px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 100%;

    &__item {
        width: 100%;
        .form-input {
            width: 100%;
            padding: 16px 32px;
            border: 1px solid $primary-white;
            border-radius: $radius-small;
            @include adaptiv-font(20, 18);
            font-weight: 600;
            background: transparent;
            overflow: hidden;
        }

        .form-input::placeholder {
            color: $primary-white;
        }
    }
}

.discount__btn {
    width: 100%;
    background-color: $body-white;
    color: $primary-grey;
    margin-bottom: 16px;
}


.errornessage{
    color: $primary-orange;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .discount__title{
        margin-top: 32px;
    }
    .form__item{
        input{
        padding: 16px 20px;
        }
    }
}

@media screen and (max-width: 480px) {
    .discount__container{
        padding: 24px 20px 0 20px;
    }
    .discount__title{
        margin-top: 0;
    }
    .form__container{
        flex-direction: column-reverse;
        img{
            width: 100%;
            object-position: center;
            object-fit: cover;
        }
        .form{
            width: 100%;
        }
        
    }
}

@media screen and (max-width: 360px) {
    .discount__container{
        padding: 24px 20px 0 20px;
    }
    .discount__title{
        margin-top: 0;
    }
    .form__container{
        flex-direction: column-reverse;
        img{
            width: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
   
    .form__item{
        .form-input{
            padding: 16px 10px;
        }
    }
}