@import '../../variables.scss';
@import '../../mixin.scss';

.header {
    height: 600px;
    background-image: url("./images/header/headerimg.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: 80px 40px 40px 40px;

    &__h1 {
        @include adaptiv-font(96, 46);
        font-weight: bold;
        color: $primary-white;
        margin-bottom: 40px;
    }

    &__btn {
        background-color: $primary-green;
        color: $primary-white;
        padding: 16px 56px 16px 56px;
        // font-size: 20px;
        @include adaptiv-font(20, 18);
        font-weight: 500;
        border: none;
        border-radius: $radius-small;
    }
    &__btn:hover{
        transform: scale(1.1);
        background-color: $primary-orange;
        cursor: pointer;
        color: $primary-white;
    }
}

// исправления 24.06

@media screen and (min-width: 481px) and (max-width: 768px) {
    .header {
        padding: 60px 20px 20px 40px;
    }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
    .header {
        padding: 50px 20px 20px 24px;

        &__h1 {
            margin-bottom: 24px;
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 360px) {
    .header {
        padding: 50px 10px 10px 24px;

        &__h1 {
            margin-bottom: 24px;
        }

        &__btn {
            padding: 16px 42px 16px 42px;
        }
    }
}