@import '../../variables.scss';

.header {
    height: 600px;
    background-image: url("./images/header/headerimg.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: 80px 40px 40px 40px;

    &__h1 {
        font-size: 96px;
        font-weight: bold;
        color: $primary-white;
        margin-bottom: 40px;
    }

    &__btn {
        background-color: $primary-green;
        color: $primary-white;
        padding: 16px 56px 16px 56px;
        font-size: 20px;
        font-weight: 500;
        border: none;
        border-radius: 5px;
    }
    &__btn:hover{
        transform: scale(1.1);
        background-color: $primary-orange;
        cursor: pointer;
        color: $primary-white;
    }
}

// исправления 20.06

@media screen and (min-width: 998px) and (max-width: 1150px) {
    .header {
        padding: 80px 10px 40px 10px;
        &__h1 {
            font-size: 88px;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 997px) {
    .header {
        padding: 80px 10px 40px 10px;
        &__h1 {
            font-size: 80px;
        }
    }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    .header {
        padding: 80px 10px 40px 10px;
        &__h1 {
            font-size: 66px;
        }
    }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
    .header {
        padding: 80px 10px 40px 10px;
    .header__h1 {
        font-size: 60px;
        }
    }
}

@media screen and (min-width: 150px) and (max-width: 360px) {
    .header__h1 {
        font-size: 50px;
    }
}