$primary-green: #92A134;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 30px 40px;

    &__menu {
        font-size: 20px;
        line-height: 130%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: $primary-green;
        font-weight: bold;
        font-size: 21px;
    }

    &__icon-cart:hover {
        transform: scale(1.1)
    }
}