@import '../../variables.scss';
@import '../../mixin.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 30px 40px;
    border-bottom: 1px solid $border-grey;
    &__menu {
        @include adaptiv-font(20, 12);
        line-height: 130%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: $primary-green;
        font-weight: bold;
        font-size: 21px;
        cursor: pointer;
    }

    &__icon-cart:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    &__burger{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        z-index: 50;
        align-items: center;
        justify-content: center;
        width: 32px;
        display: none;
        
        span{
        width: 100%;
        height: 2px;
        transform: scale(1);
        background-color: $primary-grey;
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1000px) {
    .navbar {
        padding: 30px 20px 30px 20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .navbar {
        padding: 30px 20px 30px 20px;

        &__menu {
            gap: 10px;
        }
    }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
    .navbar {
        
        padding: 30px 20px 30px 20px;
        
        &__menu {
            display: none;
        }
    
        &__burger {
            display: flex;
        }

        &__icon-cart{
            margin-left: 70px;
        }
    }
}

 @media screen and (min-width: 200px) and (max-width: 360px) {
    .navbar {
        padding: 30px 20px 30px 20px;
        
        &__menu {
            display: none;
        }
        
        &__burger {
            display: flex;
        }

        &__icon-cart{
            margin-left: 40px;
        }   
    }
}

