@import '../../variables.scss';
@import '../../mixin.scss';
 
.cartitem{
    border: 1px solid $border-grey;
    border-radius: $radius-big;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $primary-white;
    position: relative;
    z-index: 1;

    &__image{

        max-width: 200px;
        max-height: 180px;
        overflow: hidden;

        border-radius: $radius-big 0 0 $radius-big;
        border-right: 1px solid $border-grey;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;

        }
    } 

    &__info{
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;

        &_title-container{
            width: 100%;
            position: relative;
            max-height: 52px;
            min-width: 128px;
             span{
                max-height: 48px;
                min-width: 128px;
                font-weight: 500;
                @include adaptiv-font(20, 18);
                width: 100%;
                overflow: hidden;
                text-wrap: wrap;
                text-overflow: ellipsis;

                }
            button{
                border: none;
                height: 12px;
                width: 12px;

                font-weight: 600;
                background: none;
                position: absolute;
                top: 6px;
                right: 6px;
                cursor: pointer;
            }
        }

        &__price-wraper{
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            &_quantity-container{
                display: flex;
                justify-content: left;
                border: 1px solid $border-grey;
                border-radius: $radius-small;
                align-items: center;

                > p{
                    padding: 0 31px;


                }
                button{
                    border: 1px solid $border-grey;
                    border-radius: $radius-small;
                    font-size: 25px;
                    color: $text-grey;
                    height: 47px;
                    width: 47px;
                    cursor: pointer;
                }
                button:active{
                    border: 1px solid $primary-grey
                    
                }

            }        
            &_price-container{
                align-items: center;
                padding-left: 12px;
                @include adaptiv-font(40, 36);
                font-weight: 600;
                line-height: 44px;
    
                .original-price{
                    padding-left: 16px;
                    color: $text-grey;
                    text-decoration-line: line-through;
                    font-weight: 500;
                    @include adaptiv-font(20, 18);
                }
               
            }       
        }            
    }
}
