@import '../../variables.scss';
@import '../../mixin.scss';

.product-details {
  &__container {
    display: flex;
    gap: 32px;
    width: 100%;
  }

  &__image {
    cursor: pointer;
    width: 60%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.03em;
    color: #424436;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__price--discount {
    font-weight: 700;
    font-size: 64px;
    line-height: 70.4px;
    color: #424436;
    @include respond-to('small') {
      font-size: 36px;
      line-height: 40px;
    }
  }

  &__price--original {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #8b8b8b;
    text-decoration: line-through;
    @include respond-to('small') {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__discount {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: radius small;
    background: #f26d22;
    @include respond-to('small') {
      width: 58px;
      height: 31px;
      font-size: 18px;
      line-height: 23.4px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
  }

  &__quantity-button {
    width: 58px;
    height: 58px;
    border-radius: radius small;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    // color: #000000;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond-to('small') {
      width: 36px;
      height: 36px;
    }
  }

  &__quantity {
    width: 96px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #dddddd;
    font-size: 20px;
    font-weight: 600;
    background-color: #ffffff;
    @include respond-to('small') {
      width: 36px;
      height: 36px;
    }
  }

  &__add-to-cart {
    width: 100%;
    max-width: 354px;
    height: 58px;
    border-radius:radius small;
    padding: 16px 32px;
    background-color: #92a134;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    @include respond-to('small') {
      width: 100%;
      margin-top: 10px;
    }
  }

  &__description-label {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    padding: 4px 8px;
    border-radius: radius small;
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    margin-top: 20px;
  }

  &__read-more {
    width: 548px;
    height: 21px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: left;
    background: none;
    border: none;
    color: #424436;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);

  &-content {
    background: #ffffff;
    padding: 20px;
    border-radius: $radius-small;
    position: relative;

    &__header {
      display: flex;
      justify-content: flex-end;

      &__close-button {
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
      }
    }

    &__body {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@include respond-to('large') {
  .product-details__buttons {
    flex-wrap: nowrap;
  }

  .product-details__add-to-cart {
    margin-top: 0;
  }
}


@media (max-width: 768px) {
  .product-details__container { 
    flex-direction: column;
    gap: 20px;
  }

  .product-details__image {
    width: 100%;
  }

  .product-details__info {
    width: 100%;
  }

  .product-details__price-wrapper {
    width: 100%;
  }

  .product-details__buttons {
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
  }

  .product-details__add-to-cart {
    width: 100%;

  }

}

@media (max-width: 480px) {
  .product-navigation__link{
    display: none;
  }

  .product-details__container {
    flex-direction: column;
  }

  .product-details__title-wrapper {
    display: flex;
  }

  .product-details__price-wrapper {
  
    align-items: center;
  }

  .product-details__buttons {
   align-items: center;
  }

}
@media (max-width: 360px) {
  .product-navigation__link{
    display: none;
    
  }
  .product-details__buttons {
    
    justify-content: center;
    width: 100%;
   }
}
