@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import './variables.scss';
@import './mixin.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  color: $primary-grey;
}

a {
  text-decoration: none;
}

// главный контэйнер
.container-1440 {
  margin: 0 auto;
  max-width: 1440px;
  background-color: $body-white;
}

.maincontainer{
  margin: 80px 40px 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.loader {
  margin: 0 auto;
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background:
      linear-gradient(orange 0 0) 0/0% no-repeat lightblue;
  animation: l2 2s infinite steps(10);
}
@keyframes l2 {
  100% {
      background-size: 110%
  }
}

.products{ 
  //назвать это контейнором и применить для всех
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h2{
  @include adaptiv-font(64, 40);
  font-weight: 700;
  margin-bottom: 40px;
}

.wrapper{
  //назвать это враппером  и применить для всех
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-auto-rows: auto; 
  gap: 20px;
  // justify-content: space-between;
}

