$maxWidth: 1440;

@mixin adaptiv-font($curSize, $minSize) {
  $addSize: $curSize - $minSize;
  $addMobSize: $addSize + $addSize * 0.7; //70%
  @media (max-width: 1440px) {
    font-size: calc(#{$minSize + px} + #{$addMobSize} * ((100vw - 360px) / #{$maxWidth}));
  }
  @media (min-width: 1440px) {
    font-size: calc(#{$minSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}


@mixin respond-to($media) {
  @if $media == 'large' {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $media == 'medium' {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $media == 'small' {
    @media (max-width: 480px) {
      @content;
    }
  }
}
