$primary-grey: #424436;
$primary-green: #92A134;
$primary-white: #FFFF;
$primary-orange: #F26D22;

$body-white: #FFFFF1;

$text-grey: #8B8B8B;

$border-grey :#DDDDDD;


$radius-big: 12px;
$radius-small: 6px;