@import '../../variables.scss';
@import '../../mixin.scss';

.singleProduct {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-width: 316px;
    border: 1px solid $border-grey;
    background-color: $primary-white;
    border-radius: $radius-big;

    &__discount-container{
        position: absolute;
        z-index: 999;
        right: 16px;
        top: 16px;
        background-color: $primary-orange;
        padding: 4px 8px;
        border-radius: $radius-small;

        span{
            color: $primary-white;
            @include adaptiv-font(20, 18);
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 0.03em;
        }
    }

    img {
        // min-height: 284px;
        position: relative;
        z-index: 1;
        object-fit: cover;
        height: 100%;
        max-width: 316px;
        width: 100%;
        object-fit: cover;
        border-bottom: 1px solid $border-grey;

    }
    
    &__info-cont{
        margin-top: 20px;
        padding: 0 32px 32px;

        &_title{
            font-weight: 500;
            @include adaptiv-font(20, 18);
            display: block;
            width: 100%;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            padding-bottom: 16px;
        }

        &_price{
            @include adaptiv-font(40, 36);
            font-weight: 600;
            line-height: 44px;

            span{

                padding-left: 16px;
                color: $text-grey;
                text-decoration-line: line-through;
                font-weight: 500;
                @include adaptiv-font(20, 18);

            }
        }       
    }
}

.singleProduct:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 5px rgba(53, 53, 53, 0.5);
}