@import '../../variables.scss';
@import '../../mixin.scss';

   
h2{
    margin-bottom: 0;
}
        
.sales__line{
    height: 1px;
     flex-grow: 1; // Занимаедоступное свободнопространство
    margin-left: 32px;
    background: $text-grey;
    display: block;
 }

.sales__link{
     @include adaptiv-font(16, 12);
    color: $text-grey;
    align-content: center;
    border-radius: $radius-small;
    padding: 8px 16px;
    border: 1px solid $text-grey;
    display: block;
}
    
.sales__link-hidden{
    display: none;
    margin-top: 24px;
    @include adaptiv-font(16, 12);
    color: $text-grey;
    border-radius: $radius-small;
    padding: 8px 16px;
    border: 1px solid $text-grey;
    // display: inline-block;
}


@media screen and (min-width: 769px) and (max-width: 1000px) {
    .header-wrapper {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .header-wrapper {
        margin-bottom: 32px;
    }
    .wrapper {
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
    .header-wrapper {
        margin-bottom: 24px;
        justify-content: space-between;

        .sales__link {
            padding: 8px 8px;
        }
        .sales__line{
            display: none;
        }
    }

    .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 361px) and (max-width: 420px) {
    .header-wrapper {
        .sales__line {
            display: none;
        }

        .sales__link {
            display: none;
        }
    }

    .wrapper {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .sales__link-hidden{
        display: inline-block;
    }
}

@media screen and (min-width: 200px) and (max-width: 360px) {
    .header-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        gap: 12px;
        margin-bottom: 24px;
                
        .sales__line {
            display: none;
        }

        .sales__link {
            display: none;
        }
    }

    .wrapper {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .sales__link-hidden{
        display: inline-block;
    }
}
